<tr>
	<td><%= f.input_field :destroy, as: :hiddeen %></td>
	<td><%= link_to 'Delete', '#', class: 'remove_record'%></td>
	<td><%= f.input_field :id %></td>
	<td><%= f.input_field :name %></td>
</tr>

